@use '../../../customStyles/index.module' as *;

.carousel{
    @include row_center_horizontally;
    width: 100%;
    position: absolute;
    height: inherit;
}
.key{
    position: absolute;
    top:40%;
    height: 50px;
    width: 50px;
    z-index: 20;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
}

.leftKey{
    left:20px;    
}
.rightKey{
    right:20px;
}

.card{
    @include row_center;
    width: 250px;
    aspect-ratio: $aspect_ratio_artist_card;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
    z-index: 0;
    opacity: 0;
    transition: 500ms;
    transform: translateX(-300%) scale(0);  
}
.card_center{
    opacity: 1;
    transform: scale(1);
    z-index: 9;
}
.card_left{
    transform: translateX(-125%) scale(0.8);
    transition: 500ms;
    opacity: 0.7;

}
.card_left_out{
    transform: translateX(-250%) scale(0.6);
    transition: 500ms;
    opacity: 0.3;

}
.card_right{
    transform: translateX(125%) scale(0.8);
    transition: 500ms;
    opacity: 0.7;
}
.card_right_out{
    transform: translateX(250%) scale(0.6);
    transition: 500ms;
    opacity: 0.3;
}
.link{
    position: absolute;
    width: 100%;
    height: 100%;
}
.image{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit:cover;
}
.artistNameArea{
    @include row_center_horizontally;
    position: absolute;
    height: 8%;
    width: 70%;
    bottom:50px;
    right: 0;
    background-color: #F5F5F5;
    border-radius: 5px 0 0 5px;
}
.artistName{
    position: relative;
    left:10px
}

@media screen and (max-width: 768px){
    .carousel{
    }
    .key{
            top:50%;
            transform:  translateY(-50%);
    }
    .card{
        width:90%;
    }
}