@use '../../customStyles/index.module' as *;



.navbarContainer{
    @include row_center_horizontally;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 10px 50px;

    .logo{
        display: flex;
        justify-content: flex-start;
        font-family:  'MedievalSharp', cursive;
        font-size: $font_logo_xlg;
        font-weight: 800;
        opacity: 60%;
        text-shadow: 3px 3px #535450;
        width: 25%;
    }
    
    .pageLinks{
        @include row_center_horizontally;
        justify-content: space-between;
        width: 50%;
        padding: 0 20px ;  
    }
    
    .login{
        display: flex;
        justify-content: flex-end;
        width: 25%;
    }
    
    .link{
        cursor: pointer;
        font-size: $font_link_xlg;
        font-weight: 400;

    }
    
    .active{
        color: $active_link;
        font-weight: 800;
        // font-size: 20px;
    }

}

@media screen and (max-width: 1440px){
    .navbarContainer{
        .logo{
          font-size: $font_logo_lg;
        }
        .link{
            font-size: $font_link_lg;
        }
    }
}


//tablet
@media screen and (max-width: 768px){
    .navbarContainer{
        display: none;
    }
}

