@use '../../customStyles/index.module' as *;



.navbarContainer{
    @include row_center_horizontally;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 10px 50px;

    

}

.logo{
    display: flex;
    justify-content: flex-start;
    // font-family:  'MedievalSharp', cursive;
    font-size: $font_logo;
    font-weight: 800;
    opacity: 70%;
    width: 25%;

}
.logoText{
    // background: #aa4b6b;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   

    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pageLinks{
    @include row_center_horizontally;
    justify-content: space-between;
    width: 50%;
    padding: 0 20px ;  
}

.logArea{
    display: flex;
    justify-content: flex-end;
    width: 25%;
}




/* CSS */
.signButton {
    @include row_center;
    width: 30%;
    margin: 0 20px;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.signButton:after {
  content: "";
  @include logoBackground;
  opacity: 0.4;
//   background-color: #ffe54c;
border-radius: 2px;

  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
}

.signButton:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .signButton {
    padding: 13px 20px 13px;
  }
}

.signin{
    display: flex;
    justify-content: center;
}


.signup{
    display: flex;
    justify-content: center;
}

.link{
    cursor: pointer;
    font-size: $font_link;
    font-weight: 400;

}

.active{
    color: $active_link;
    font-weight: 800;
}

.sideNavBar{
    display: none;
}

@media screen and (max-width: 1440px){
    .navbarContainer{
        .logo{
        //   font-size: $font_logo_lg;
        }
        .link{
            // font-size: $font_link_lg;
        }
    }
}


//tablet
@media screen and (max-width: 768px){
    .navbarContainer{
        display: none;
    }
    .sideNavBar{
        @include flex_row;
        position: relative;
        display: flex;
    }
    .logo{
        font-size: $font_logo_mobile;
        position: absolute;
        top: 20px;
        left: 50%;
        transform:  translateX(-50%);
        width: unset;
    }

    .navButtonArea{
        position: fixed;
        top:40px;
        left:10px;
        z-index: 100;

        .navButton{
            height: 30px;
            width: 30px;
        }
        
    }

    .navArea{
        padding-top: 100px;
        padding-left: 20px;
        @include flex_column;
        align-items:flex-start;
        background-color: rgba(224, 228, 212,0.4);
        position: fixed;
        top:0;
        left:0;
        height: 100vh;
        width: 50%;
        transition: 500ms;
        opacity: 1; 
    }
    .link{
        margin: 20px 0;
        font-size: $font_link_mobile;
    }

    .open{
        opacity: 1;
        transition: 1000ms;
        border-radius: 10px;
        z-index: 95;
    }
    .close{
        transform: translateX(-50%) ;
        transition: 1000ms;
        opacity: 0.0;
        border-radius: 80%;
        z-index: -95;

    }

    .navAreaBack{
        position: fixed;
        top:0;
        left:0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .navAreaBackOpen{
        opacity: 1;
        transition: 1000ms;
        filter: blur(0px);
        -webkit-filter: blur(0px);
        border-radius: 10px;
        z-index: 90;

    }
    .navAreaBackClose{
        transform: translateX(-125%) ;
        opacity: 0;
        transition: 1000ms;
        filter: blur(50px);
        -webkit-filter: blur(50px);
        border-radius: 80%;
        z-index: -100;

    }

    .logArea{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
    }

    .signButton{
        margin: 5px 0;
        width: 150px;
    }

    .signup{
        margin-top: 20px;
    }

}


@media screen and (max-width: 425px){
    .sideNavBar{
        .logo{
        // font-size: $font_logo_sm;

        }
        .navArea{
            .link{
            // font-size: $font_link_sm;  
            }
        }
    }
}