@use '../../customStyles/index.module' as *;



.navbarContainer{
    @include row_center_horizontally;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 10px 50px;

    .logo{
        display: flex;
        justify-content: flex-start;
        width: 25%;
        font-family:  'MedievalSharp', cursive;
        font-weight: 800;
        font-size: 55px;
        opacity: 60%;
        text-shadow: 3px 3px #535450;
    }
    
    .pageLinks{
        @include row_center_horizontally;
        justify-content: space-between;
        width: 50%;
        padding: 0 20px ;  
    }
    
    .login{
        display: flex;
        justify-content: flex-end;
        width: 25%;
    }
    
    .link{
        cursor: pointer;
    }
    
    .active{
        color: red;
        font-weight: 900;
        font-size: 20px;
    }

}

@media screen and (max-width: 771px){
    .navbarContainer{
        display: none;
    }
}

