@use '../../customStyles/index.module' as *;

.sideNavBar{
    @include flex_row;
    position: relative;
    .logo{
        display: flex;
        justify-content: flex-start;
        // font-family:  'MedievalSharp', cursive;
        font-weight: 800;
        font-size: $font_logo_sm;
        opacity: 60%;
        text-shadow: 3px 3px #535450;
        position: absolute;
        top: 20px;
        left: 50%;
        transform:  translateX(-50%);
    }

    .navButtonArea{
        position: fixed;
        top:40px;
        left:10px;
        z-index: 100;

        .navButton{
            height: 30px;
            width: 30px;
        }
        
    }

    .navArea{
        padding-top: 100px;
        padding-left: 20px;
        @include flex_column;
        align-items:flex-start;
        background-color: rgba(224, 228, 212,0.4);
        position: fixed;
        top:0;
        left:0;
        z-index: 95;
        height: 100vh;
        width: 50%;
        transition: 500ms;
        opacity: 1;

        .link{
            font-size: 28 ;
            cursor: pointer;
            margin: 20px 0;
            font-size: $font_link_sm;
        }
        
        .active{
            color: $active_link;
            font-weight: 900;
        }
        
    }
    .open{
        opacity: 1;
        transition: 1000ms;
        border-radius: 10px;
    }
    .close{
        transform: translateX(-50%) ;
        transition: 1000ms;
        opacity: 0.0;
        border-radius: 80%;

    }

    .navAreaBack{
        position: fixed;
        top:0;
        left:0;
        z-index: 90;
        height: 100vh;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .navAreaBackOpen{
        opacity: 1;
        transition: 1000ms;
        filter: blur(0px);
        -webkit-filter: blur(0px);
        border-radius: 10px;

    }
    .navAreaBackClose{
        transform: translateX(-125%) ;
        opacity: 0;
        transition: 1000ms;
        filter: blur(50px);
        -webkit-filter: blur(50px);
        border-radius: 80%;

    }
}


@media screen and (min-width: 426px){
    .sideNavBar{
        .logo{
            font-size: $font_logo_md;
        }
        .navArea{
            .link{
                font-size: $font_link_md;
            }
        }
    }
}

//Desktop
@media screen and (min-width: 769px){
    .sideNavBar{
        display: none;
    }
}