@use '../../customStyles/index.module' as *;

.home{
    @include flex_column;
    align-items: center;
}

.carousel{
    @include column_center_vertically;
    justify-content: space-evenly;
    height: 350px;
    width: 100%;
    margin: 20px;
}

.topPicks{
    @include column_center;
    height: 300px;
    width: 100%;
    margin: 20px;
}

.recent{
    @include column_center;
    height: 300px;
    width: 100%;
    margin: 20px;
}

@media screen and (max-width: 771px){
    .carousel{
        margin-top: 60px;
    }
}