@use '../../customStyles/index.module' as *;

.home{
    @include flex_column;
    align-items: center;
    position: relative;
}

.carousel{
    @include column_center_vertically;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    margin: 20px;
    height:  calc(300px *(5/4));
    .carouselContainer{
        width: 100%;
        // position: absolute;
        position: relative;
        top: 30px;
        height: inherit;
    }
    .artist{
        position: absolute;
        top: 0
    }
}

.topPicks{
    @include column_center;
    width: 100%;
    margin: 20px;
}

.recent{
    @include column_center;
    width: 100%;
    margin: 20px;
}

.sectionHeading{
    font-size: $sectionsHeading_xlg;
    color: $sectionHeading_color;

}
@media screen and (max-width: 1440px){
    .sectionHeading{
        font-size: $sectionsHeading_lg;
    }
}


@media screen and (max-width: 768px){
    .carousel{
        margin-top: 150px;
        margin-bottom: 40px;
        height:  calc(110vw *(5/4));
    }
    .topPicks{
        margin-top: -10px;
    }
    .sectionHeading{
        font-size: $sectionsHeading_md;
    }
}

//phone
@media screen and (max-width: 425px){

}