.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 30px;
}

.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 350px;
    width: 100%;
    // border : solid black 2px;
    margin: 20px;
}

.topPicks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    // border : solid black 2px;
    margin: 20px;
}

.recent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    // border : solid black 2px;
    margin: 20px;
}

@media screen and (max-width: 771px){
    .carousel{
        margin-top: 60px;
    }
}