@use '/customStyles/index.module' as *;

.main{
    min-height: 100vh;
}

.home{
    @include flex_column;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

.carousel{
    @include column_center_vertically;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    margin: 20px;
    .carouselContainer{
        width: 100%;
        position: relative;
        height: inherit;
    }
    .artist{
        position: relative;
        top: 0;
    }
}

.topPicks{
    @include column_center;
    width: 100%;
    margin: 20px;
}

.recent{
    @include column_center;
    width: 100%;
    margin: 20px;
}

.sectionHeading{
    font-size: $sectionHeading_font;
    color: $sectionHeading_color;

}

@media screen and (max-width: 1440px){

}


@media screen and (max-width: 768px){
    .home{
        margin-top: 100px;
        
    }
    .carousel{
        margin-bottom: 40px;
        margin-top: 0px;
    }
    .topPicks{
        margin-top: -10px;
    }
    .sectionHeading{
        font-size: $sectionHeading_font_mobile;
    }
}

//phone
@media screen and (max-width: 425px){

}