$active_link:#aa4b6b;

$sectionHeading_color:#005C97;

@mixin logoBackground{
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27);
}

@mixin logoBackgroundVertical{
    background: -webkit-linear-gradient( #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( #1565C0, #b92b27);
}