//standard font sizes
$font_xsm: 9px;
$font_sm: 12px;
$font_md1: 16px;
$font_md2: 21px;
$font_lg: 28px;
$font_xlg: 37px;
$font_hg: 50px;
$font_xhg: 67px;
$font_xxhg: 89px;


//logo
$font_logo : 55px;
// $font_logo_lg : 50px;
$font_logo_mobile: 55px;
// $font_logo_sm: 55px;


$font_link:21px;
$font_link_mobile:28px;

$pageHeading_font: 67px;
$sectionSuperHeading_font: 50px;
$sectionHeading_font:37px ;
$sectionSubHeading_font: 28px;
$minorHeading_font:21px;
$paragraphTextLg_font: 18px;
$paragraphTextMd_font: 16px;
$paragraphTextSm_font: 12px;

$pageHeading_font_mobile: 50px;
$sectionSuperHeading_font_mobile: 37px;
$sectionHeading_font_mobile: 28px;
$sectionSubHeading_font_mobile:21px ;
$minorHeading_font_mobile:18px;
$paragraphTextLg_font_mobile: 16px;
$paragraphTextMd_font_mobile: 12px;
$paragraphTextSm_font_mobile: 10px;

@media screen and (max-width: 768px){

}

