//standard font sizes
$font_xsm: 9px;
$font_sm: 12px;
$font_md1: 16px;
$font_md2: 21px;
$font_lg: 28px;
$font_xlg: 37px;
$font_hg: 50px;
$font_xhg: 67px;
$font_xxhg: 89px;


//logo
$font_logo_xlg : 55px;
$font_logo_lg : 50px;
$font_logo_md: 55px;
$font_logo_sm: 55px;


$font_link_xlg:$font_md2;
$font_link_lg:20px;
$font_link_md:$font_lg;
$font_link_sm:$font_md2;


$sectionsHeading_xxlg:$font_xlg;
$sectionsHeading_xlg:$font_lg;
$sectionsHeading_lg:$font_md2;
$sectionsHeading_md:$font_md2;
$sectionsHeading_sm:$font_md2;

