@use '../../../customStyles/index.module' as *;



.imageSlider{
    
    height: 100%;
    width: 100%;
    
    
    .imageBox{
        @include row_center;
        // height:80%;
        border: 1px solid black;
        width: 400px;
        aspect-ratio: 16 / 9;
        margin: 20px;
        flex-shrink: 0;
        border-radius: 10px;
    }
    .inVertical{
        // height:300px;
    }
}

.vertical{
    @include row_center;
    flex-wrap: wrap;
    overflow-x:auto;
}

.horizontal{
    @include row_center_horizontally;
    overflow-y:auto;
}

@media screen and (max-width: 1440px){

}



@media screen and (max-width: 771px){
    .imageSlider{
        .imageBox{
            width: 90%;

        }
    }
}