@use '../../../styles/somani.module.scss' as somani;



.imageSlider{
    
    height: 100%;
    width: 100%;
    
    
    .imageBox{
        @include somani.row_center;
        height: 80%;
        border: 1px solid black;
        width: 400px;
        margin: 20px;
        flex-shrink: 0;
        border-radius: 10px;
    }
}

.vertical{
    @include somani.row_center;
    flex-wrap: wrap;
    overflow-x:auto;
}

.horizontal{
    @include somani.row_center_horizontally;
    overflow-y:auto;
}


@media screen and (max-width: 771px){
    .imageSlider{
        .imageBox{
            width: 90%;
        }
    }
}