@use '../../styles/somani.module.scss' as somani;

.communityContainer{
    @include somani.column_center;
}

.jtc{
    @include somani.flex_row;
    justify-content: space-between;
    width: 100%;
}

.jtcInfo{
    @include somani.column_center;
    text-align: center;
    width: 40%;
    padding: 10px;
    border: solid black 2px;
}

.jtcInfoHeader{
    font-size: 50px;
    margin: 10px;
}

.jtcInfoText{
    font-size: 25px;
    font-weight: 400;
}

.jtcImage{ 
    @include somani.row_center;
    width: 55%;
    border: solid black 2px;
}

.uta{
    @include somani.flex_row;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px ;
}

.utaInfo{
    @include somani.column_center;
    text-align: center;
    width: 40%;
    padding: 10px;
    border: solid black 2px;
}

.utaInfoHeader{
    font-size: 50px;
    margin: 10px;
}

.utaInfoText{
    font-size: 25px;
    font-weight: 400;
}

.utaImage{ 
    @include somani.row_center;
    width: 55%;
    border: solid black 2px;
}