@use '../../customStyles/index.module' as *;

.communityContainer{
    @include column_center;
}

.jtc{
    @include flex_row;
    justify-content: space-between;
    width: 100%;
}

.info{
    @include column_center;
    text-align: center;
    width: 55%;
    padding: 10px;
    border: solid black 2px;
    border-radius: 10px;
}

.image{
    @include row_center;
    width: 40%;
    border: solid black 2px;
    border-radius: 10px;
    aspect-ratio: 1/1;
}

.jtcImage{ 
   
}

.uta{
    @include flex_row;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px ;
}


.infoHeader{
    font-size: $sectionsHeading_xlg;
    margin: 10px;
}

.infoText{
    font-size: $paraText_xlg;
    font-weight: 400;
}

.utaImage{ 

}

@media screen and (max-width: 1440px){
    .infoHeader{
        font-size: $sectionsHeading_lg;
    }
    
    .infoText{
        font-size: $paraText_lg;
    }
}

@media screen and (max-width: 768px){
    
    .communityContainer{
        margin-top: 100px;
    }
    .jtc{
        @include column_center_vertically;
        width: 100%;
    }
    .info{
        width: 70%;
    }
    .infoHeader{
        font-size: $sectionsHeading_md;
    }
    
    .infoText{
        font-size: $paraText_md;
    }
    .jtcText{
        order: 2;
        margin-top: 20px;
    }
    .image{
        width: 70%;
        aspect-ratio: 1/1;
    }
    .jtcImage{
        margin-top: 20px;
        order: 1;
        
    }
    .uta{
        @include column_center_vertically;
        width: 100%;
        margin-top: 20px;
    }
    .utaImage{
        margin-bottom: 20px;
        
    }

}

@media screen and (max-width: 425px){
    .infoHeader{
        font-size: $sectionsHeading_sm;
    }
    
    .infoText{
        font-size: $paraText_sm;
    }
}